## export all regularly named functions
## (but allow for private functions whose name starts with a dot).name <- function(...)
exportPattern("^[[:alpha:]]+")

import("data.table")
importFrom("utils", "packageName", "available.packages", "download.file", "download.packages", "read.table", "untar", "head", "tail")
importFrom("crayon", "red", "green", "blue")
